.horizontal-scroll {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  grid-auto-columns: 27%;
  justify-content: start;
  justify-items: center;
  gap: 2%;
}

@media screen and (max-width: 767px) {
  .horizontal-scroll {
    grid-auto-columns: 77%;
  }
}

.horizontal-scroll::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #f89aee;
  height: 1vh;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f944e7;
}

.button {
  background-color: #f89aee;
  padding: 15px 32px;
  text-align: center;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(240 171 252);
}

.background {
  background-image: url("/orchidmain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
}

.backgroundColor {
  background-color: #ff7af2;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 50vh;
  flex-direction: column;
  width: 50vh;
}

@media screen and (min-width: 768px) {
  .backgroundColor {
    height: 60vh;
  }
}
