.horizontal-scroll {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  grid-auto-columns: 27%;
  justify-content: start;
  justify-items: center;
  gap: 2%;
}

@media screen and (max-width: 767px) {
  .horizontal-scroll {
    grid-auto-columns: 77%;
  }
}

.horizontal-scroll::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #f89aee;
  height: 1vh;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f944e7;
}

.button {
  background-color: #f89aee;
  padding: 15px 32px;
  text-align: center;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(240 171 252);
}

.background {
  background-image: url("/orchidmain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
}

.backgroundColor {
  background-color: #ff7af2;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 50vh;
  flex-direction: column;
  width: 50vh;
}

@media screen and (min-width: 768px) {
  .backgroundColor {
    height: 60vh;
  }
}

.modalBackground {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.modalContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-group {
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgb(240 171 252);
  margin-top: 5px;
}

.textarea {
  resize: vertical;
}

.buttonModal {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  color: #f944e7;
  margin-top: 10px;
}

.buttonModal:hover {
  background-color: #f89aee;
  color: white;
  transition: 0.8s ease-in-out;
}

#overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}

.airtable-embed {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 500px;
  max-width: 80%;
  height: 800px;
  max-height: 80%;
}

.bookingIframe {
  width: 50%;
  height: 100%;
}

.bookingParent {
  display: flex;
  height: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 300px;
}

.social .socialButton {
  height: 49px;
  width: 60px;
  float: left;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease-in-out;
  overflow: hidden;
}

.social .socialButton .icon {
  border-radius: 50%;
}

.social .socialButton .socialText {
  font-size: 30px;
  font-weight: 500;
}

.social .socialButton:hover {
  background-color: whitesmoke;
  width: 150px;
}

.socialText:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recaptcha {
  transform: scale(0.77);
  -webkit-transform: scale(0.77);
  transform-origin: 5 0;
  -webkit-transform-origin: 5 0;
}

.input {
  border-radius: 10px;
}
