.background {
  background-image: url("/orchidmain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
}

.wedding {
  background-image: url("/orchidWedding.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white;
}
.easter {
  background-image: url("/orchidEaster.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white;
}
.halloween {
  background-image: url("/orchidHalloween.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white;
}
.midsummer {
  background-image: url("/orchidMidsummer.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white;
}
.nails-hair {
  background-image: url("/orchidNailsMakeup.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white;
}
