@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./assorted.css";
@import "./backgroundImage.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/orchidmain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  /* padding-bottom: 60px; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ff7af2;
}

.text {
  font-family: "The Nautigal", sans-serif;
  font-size: 1.5rem;
  font-style: oblique;
}

.main-nav {
  background-color: #f89aee;
  font-size: 3rem;
}

footer {
  background-color: #ff7af2;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 60px;
}

img {
  border-radius: 30%;
}
